<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index-test</title>
</head>
<body>
<!--    <div th:text="'Hello, ' + ${name} + '! It is ' + ${time}" />-->
<!--                        variable/attribute Name        -->
<!--                      = ctx.getVariables().get("name") -->
<!--    <div th:text="'Random text ' + 555222" />-->
<!--    <div th:text="true" />-->
<!--    <div th:text="${products[0].name}" />-->      <!--<div th:text="${products.get(0).name}" />-->
<!--    <div th:text="${#dates}" />-->
<!--    <a th:text="Link" th:href="${products[0].url}" />-->
<!--    <div th:object="${products}">-->
<!--<p th:text="#{home.welcome}">Welcome to our grocery store!</p>-->
<!--<div th:text="${#messages.msgOrNull('home.welcome')?:'Welcome to Thymeleaf'}"></div>-->
<div th:text="#{home.welcome}"></div>
<div th:fragment="copy">
    &copy; 2011 The Good Thymes Virtual Grocery
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>URL</th>
        <th>Price</th>
        <th>Is Blanket?</th>
    </tr>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.id}"/>
        <td th:text="'| ' + ${product.name}"/>
        <td th:text="'| ' + ${product.url}"/>
        <td th:text="'| ' + ${product.price}"/>
        <td>
            <a th:href="${product.url}" th:text="${product.url}"></a>
        </td>
        <td th:if="${product.isBlanket()}" th:text="'✅'"/>
    </tr>
    </tbody>
</table>
<div th:include="footer :: copy2"></div>
<div th:replace="footer :: copy2"></div>
<div>Test Khoa</div>

</body>
</html>